@import url("https://fonts.googleapis.com/css?family=Lobster|Russo+One|Exo|Barlow+Semi+Condensed");
@import url("https://fonts.googleapis.com/css?family=Neuton|Bungee");

@import "page1";
@import "page2";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow: hidden;

  background:
  linear-gradient(225deg, transparent 72.5%, rgba(0,0,0,0.1) 72.5%, rgba(0,0,0,0.1) 75%, transparent 75%),
  linear-gradient(135deg, transparent 72.5%, rgba(0,0,0,0.1) 72.5%, rgba(0,0,0,0.1) 75%, transparent 75%),
  linear-gradient(to bottom, transparent 47.5%, rgba(0,0,0,0.1) 47.5%, rgba(0,0,0,0.1) 50%, transparent 50%, transparent 97.5%, rgba(0,0,0,0.1) 97.5%),
  linear-gradient(135deg, rgba(242,82,33,1) 0%,rgba(229,247,34,1) 100%);

  background-repeat: repeat;
  background-size: 60px 60px, 60px 60px, 60px 60px, 110% 110%;
  background-position: 30px 30px, 0px 0px;
}

div.outermost {
  /*background-color: #d5d5d5;*/
  padding: 15px;

  width: 100%;
  height: 99vh;
  text-align: left;

  margin: 0;

  position: relative;
}

/* paper */

.paper_container {
  position: relative;
  display: inline-block;

  width: 90vw;
  height: 95%;
  padding: 0;

  border: none;

  perspective: 1000px;
  margin-top: 2vh;
  margin-left: 1vh;
}

.paper_container > div.book {

  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-300px) rotateY(-22deg);

  transition: all 0.3s ease-out;
}

.paper_container div.page {
  position: absolute;
  top: 2%;
  right: 2%;

  width: 47.5%;
  height: 95%;
  margin: 0;
  padding: 0;

  border: 1px solid rgba(10,10,70,0.1);
  border-radius: 1vh;

  transform-origin: left center;
  transform-style: preserve-3d;

  transition: all 0.8s ease-out;
  /*If I want to change the duration value, relevant JS values
    should be adjusted too.
  */
  backface-visibility: visible;
}

div.page > figure {
  position: absolute;
  margin: 0;

  width: 100%;
  height: 100%;

  font-size: 180px;
  font-family: fantasy, georgia;
  line-height: 350px;
  color: #000;
  text-align: center;

  background-color: #fff;

  border-radius: 1vh;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  backface-visibility: visible;

}

div.page > figure.front {
  /* background-color: rgba(57,107,187,1); */
}

div.page > figure.back {
  /* background-color: rgba(80,154,69,1); */
  transform: rotateY(180deg);
}

div.page:nth-child(7) { /* div.page:nth-child(6) */
  transform: rotateY(-25deg);
}

div.page:nth-child(6) { /* div.page:nth-child(5) */
  transform: rotateY(-20deg);
}

div.page:nth-child(5) { /* div.page:nth-child(4) */
  transform: rotateY(-15deg);

}

div.page:nth-child(4) { /* div.page:nth-child(3) */
  transform: rotateY(-10deg);

}

div.page:nth-child(3) { /* div.page:nth-child(2) */
  transform: rotateY(-5deg);

}

div.page:nth-child(2) { /* div.page:nth-child(1) */
  transform: rotateY(0deg);
}

div.page:nth-child(7).turned {  /* div.page:nth-child(6) */
  transform: rotateY(-200deg); /* -180deg + book rotation */ /*translateX(0px)*/;
}
div.page:nth-child(7).set_depth {  /* div.page:nth-child(6) */
  z-index: 5;
}

div.page:nth-child(6).turned {  /* div.page:nth-child(5) */
  transform: rotateY(-195deg);  /* -180deg + book rotation */ /*translateX(-2px)*/;
}
div.page:nth-child(6).set_depth {  /* div.page:nth-child(5) */
  z-index: 6;
}
div.page:nth-child(5).turned {  /* div.page:nth-child(4) */
  transform: rotateY(-190deg); /* -180deg + book rotation */ /*translateX(-4px)*/;
}
div.page:nth-child(5).set_depth { /* div.page:nth-child(4) */
  z-index: 7;
}
div.page:nth-child(4).turned {  /* div.page:nth-child(3) */
  transform: rotateY(-185deg); /* -180deg + book rotation */ /*translateX(-6px)*/;
}
div.page:nth-child(4).set_depth {  /* div.page:nth-child(3) */
  z-index: 8;
}
div.page:nth-child(3).turned {  /* div.page:nth-child(2) */
  transform: rotateY(-180deg); /* -180deg + book rotation */ /*translateX(-8px)*/;
}
div.page:nth-child(3).set_depth {  /* div.page:nth-child(2) */
  z-index: 9;
}
div.page:nth-child(2).turned {  /* div.page:nth-child(1) */
  transform: rotateY(-175deg); /* -180deg + book rotation */ /*translateX(-10px)*/;
}
div.page:nth-child(2).set_depth { /* div.page:nth-child(1) */
  z-index: 10;
}

div.page figure > div.wrapper {
  width: 85%;
  height: 90%;

  position: absolute;
  top: 5%;
  left: 7.5%;
  overflow: hidden;

  border: none;
  box-shadow: none;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/* Cover design */


div.book > div.cover {

  position: absolute;
  top: 1%;
  right: 0.5%;

  width: 49%;
  height: 97.5%;

  transform-origin: left center;
  transform-style: preserve-3d;

  transition: all 0.8s ease-out;
  backface-visibility: visible;

}

div.cover.front {
  transform: rotateY(-30deg);
}

div#frontcover.turned {
  transform: rotateY(-200deg);
}
div#frontcover.set_depth {
  z-index: 4;
}
div.cover.back {
  transform: translateZ(-5px);
}

div.cover.front figure {
  background-color: #E84B20;
  position: absolute;
  border: 1px solid rgba(0,0,0,0.2);

  transform-origin: preserve-3d;
}
div.cover.front figure.top,
div.cover.front figure.buttom,
div.cover.front figure.right {
  background-color: #C9360E;
}

div.cover.back figure {
  background-color: #5E5E5E;
  position: absolute;
}

div.cover > figure.front, div.cover > figure.back {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  line-height: 350px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 250px;
  font-family: "Exo", fantasy;

}

div.cover.front > figure.front {
  transform: rotateY(0deg) translateZ(15px);
}
div.cover.back > figure.front {
  transform: rotateY(0deg) translateZ(5px);
}

div.cover.front > figure.back {
  transform: rotateY(180deg) translateZ(-5px);
}
div.cover.back > figure.back {
  transform: rotateY(180deg) translateZ(5px);
}

div.cover > figure.top, div.cover > figure.bottom {
  width: 100%;
  height: 10px;
  background-color: #000;
}

div.cover.front > figure.top {
  top: 0;
  left: 0;

  transform: translateZ(10px) rotateX(90deg) translateZ(5px);
}
div.cover.back > figure.top {
  top: 0;
  left: 0;

  transform: rotateX(90deg) translateZ(5px);
}

div.cover.front > figure.bottom {
  left: 0;
  bottom: 0;

  transform: translateZ(10px) rotateX(-90deg) translateZ(5px);
}
div.cover.back > figure.bottom {
  left: 0;
  bottom: 0;

  transform: rotateX(-90deg) translateZ(5px);
}

div.cover.front > figure.left, div.cover.front > figure.right {
  width: 10px;
  height: 100%;
}

div.cover.front > figure.left {
  top: 0;
  left: 0;

  transform: translateZ(10px) rotateY(-90deg) translateZ(5px);
}
div.cover.back > figure.left {
  top: 0;
  left: 0;

  transform: rotateY(-90deg) translateZ(5px);
}

div.cover.front > figure.right {
  top: 0;
  right: 0;
  transform: translateZ(10px) rotateY(90deg) translateZ(5px);
}
div.cover.back > figure.right {
  top: 0;
  right: 0;
  transform: rotateY(90deg) translateZ(5px);
}

/* Explanation */
div#explanation {
  position: absolute;
  top: 7.5%;
  left: 12.5%;
  width: 35%;
  height: 85%;
}

div#explanation.set_depth {
  z-index: 12;
}


div#explanation > div.titleframe {
  position: absolute;
  width: 35%;
  height: 17.5%;

  top: 2.5%;
  left: 10%;

  color: #fff;

  border-left: 3px solid #fff;
  border-right: 3px solid #fff;

  background:
  radial-gradient(farthest-side circle at 50% 50%, rgba(242,82,33,1) 0%, transparent 100%);
}

div.titleframe > span {
  position: absolute;
  width: 8px;
  height: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
}

div.titleframe > span.tl {
  top: 0;
  left: 0;
}
div.titleframe > span.tr {
  top: 0;
  right: 0;
}
div.titleframe > span.bl {
  bottom: 0;
  left: 0;
}
div.titleframe > span.br {
  bottom: 0;
  right: 0;
}

div.titleframe > p {
  margin: 0;
  padding: 0;
  position: absolute;
}

div.titleframe > p.title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: inherit;
  font-size: 210%;
  font-weight: 900;
  font-family: "Lobster", "Bungee", fantasy, Georgia;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
  letter-spacing: 1px;
  line-height: 1;
}

div.titleframe > p.name {
  top: 5%;
  left: 7%;

  color: inherit;
  font-size: 120%;
  line-height: 1;
  font-weight: 900;
  font-family: "Lobster", "Bungee", fantasy, Georgia;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);

  transform: rotate(-40deg);
}

div#explanation nav#navigator {
  position: absolute;

  width: 55px;
  height: 25px;

  right: 23%;
  top: 17.5%;

  background:
  radial-gradient(farthest-side circle at 50% 50%, rgba(242,82,33,1) 0%, transparent 100%);
}

div#explanation nav#navigator > span {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 7.5px;
  cursor: pointer;

  transition: all 0.1s;
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

div#explanation nav#navigator > span:after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -7px;
  left: -7px;
  border: 1px solid #fff;
  border-radius: 12.5px;

  transform-origin: 50% 50%;
  transform: scale(0.3, 0.3);
  transition: all 0.2s;
  opacity: 0;
}

div#explanation nav#navigator > span:hover {
  background-color: #fff;
}

div#explanation nav#navigator > span.active:after {
  opacity: 1;
  transform: scale(1, 1);
}
div#explanation nav#navigator > span.active {
  background-color: #fff;
}

div#explanation nav#navigator > span:nth-child(1) {
  float: left;
  margin: 5px 0 0 5px;
}
div#explanation nav#navigator > span:nth-child(2) {
  float: right;
  margin: 5px 5px 0 0;
}

div#explanation ul#cards {

  position: absolute;
  width: 80%;
  height: 75%;

  left: 10%;
  bottom: 2.5%;

  list-style: none;
  overflow: hidden;

  background:
  radial-gradient(farthest-side circle at 50% 50%, rgba(242,82,33,1) 0%, transparent 100%);

}

ul#cards li {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transition: left 0.3s ease-out;
  overflow: hidden;
}

ul#cards li#motivation.deacti {
  left: -110%;
}
ul#cards li#comment.deacti {
  left: 110%;
}

ul#cards li > div.tag {
  font-size: 200%;
  font-family: "Lobster";
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  position: absolute;

  padding: 8px 5px 3px;
  text-shadow:
  10px -5px 0px rgba(255,255,255,0.15),
  7px 7px 0px rgba(0,0,0,0.15);

  background:
  radial-gradient(farthest-side circle at 50% 50%, rgba(242,82,33,1) 0%, transparent 100%);

  top: 5%;
  transition: all 3.5s cubic-bezier(.04,.96,.07,.99) 0.2s;
}

ul#cards li#motivation > div.tag {
  left: 2%;
}
ul#cards li#motivation.deacti > div.tag {
  left: 100%;
  text-shadow:
  -60px 60px 0px rgba(255,255,255,0.15),
  -60px -60px 0px rgba(0,0,0,0.15);
}

ul#cards li#comment > div.tag {
  right: 12%;
}
ul#cards li#comment.deacti > div.tag {
  right: 100%;
  text-shadow:
  -60px 60px 0px rgba(255,255,255,0.15),
  -60px -60px 0px rgba(0,0,0,0.15);
}

ul#cards li > p {
  width: 90%;
  height: 87.5%;

  position: absolute;
  top: 11%;
  left: 5%;

  display: table-cell;
  vertical-align: middle;

  font-family: "Neuton";
  font-size: 130%;
  line-height: 1.5;
  color: #fff;
  text-align: right;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
  padding-top: 15%;
  padding-right: 10%;
}


ul#cards li > p:before, ul#cards li > p:after {
  content: "\"";
  color: #fff;
  font-family: Georgia;
  font-size: 350%;

  position: absolute;
}
ul#cards li > p:before {
  top: 2%;
  left: 10%;
}

ul#cards li > p:after {
  bottom: -7%;
  right: 10%;
}

/* Some 3D Objects styling */
li#motivation span#textcubes {
  display: inline-block;
  vertical-align: middle;

  width: 60px;
  height: 30px;

  perspective: 200px;
  position: relative;
}

li#motivation span#textcubes > span.cube {
  width: 30px;
  height: 30px;

  transform-style: preserve-3d;
  position: relative;

  display: inline-block;
  transition: transform 0.5s ease-out;
}

li#motivation span#textcubes > span.cube:nth-child(1) {
  float: left;
  transform: translateZ(-12.5px) rotate3d(2,2,1,-20deg);
}
li#motivation span#textcubes > span.cube:nth-child(2) {
  float: right;
  transform: translateZ(-12.5px) rotate3d(2,2,1,20deg);
}

li#motivation span#textcubes:hover > span.cube:nth-child(1) {
  float: left;
  transform: translateZ(-12.5px) rotate3d(2,2,1,-379deg);
}
li#motivation span#textcubes:hover > span.cube:nth-child(2) {
  float: right;
  transform: translateZ(-12.5px) rotate3d(2,2,1, 379deg);
}

li#motivation span.cube > span {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;

  background-color: rgba(220,15,5,1);
  border: 1px solid rgba(100,30,5,0.6);
  color: #fff;
  font-size:20px;
  line-height: 25px;
  text-align: center;

  top: 2.5px;
  left: 2.5px;
}

li#motivation span.cube > span:nth-child(1){
  transform: rotateX(90deg) translateZ(12.5px);
}
li#motivation span.cube > span:nth-child(2){
  transform: rotateX(-90deg) translateZ(12.5px);
}
li#motivation span.cube > span:nth-child(3){
  transform: rotateY(90deg) translateZ(12.5px);
}
li#motivation span.cube > span:nth-child(4){
  transform: rotateY(-90deg) translateZ(12.5px);
}
li#motivation span.cube > span:nth-child(5){
  transform: rotateY(180deg) translateZ(12.5px);
}
li#motivation span.cube > span:nth-child(6){
  transform: rotateY(0deg) translateZ(12.5px);
}

li#comment span#counterintuitive {
 width: 250px;
 height: 75px;
 padding: 5px 0px 5px 10px;


 position: relative;
 display: inline-block;
 perspective: 200px;
}

span#counterintuitive span.block {
  width: 60px;
  height: 30px;
  float: left;
  margin-left: -2px;

  transform-style: preserve-3d;
}

span#counterintuitive span.block._1,
span#counterintuitive span.block._2,
span#counterintuitive span.block._3,
span#counterintuitive span.block._4 {
  margin-bottom: 5px;
}

span#counterintuitive span.block > span {
  width: 30px;
  height: 30px;
  float: left;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 25px;

  transform-style: preserve-3d;
  background-color: rgba(150,20,30,1);
  outline: 1px solid rgba(150,20,30,1);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);

  transition: transform 0.15s ease-out;
}
span#counterintuitive span.block > span:first-child {
  transform: rotateY(-23deg);
  background-color: rgba(130,10,20,1);
  outline: 1px solid rgba(130,10,20,1);
}
span#counterintuitive span.block > span:last-child {
  transform: translateX(-1px) rotateY(23deg);
}

span#counterintuitive span.block:hover > span:first-child {
  transform: translateZ(-10px) rotateY(20deg);
}
span#counterintuitive span.block:hover > span:last-child {
  transform: translateZ(-10px) rotateY(-20deg);
}

/* Visually Pleaseant */

li#comment span#pleasant {
 width: 250px;
 height: 75px;
 padding: 5px;
 padding-right: 0px;

 position: relative;
 display: inline-block;
}

span#pleasant > span {
  width: 30px;
  height: 30px;
  float: left;
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 900;
  font-family: "Bungee", "Lobster";
  text-shadow: none;
  position: relative;

  perspective: 200px;
  background-color: #246E24; /*A little brighter #3C803C*/
  outline: 1px solid #246E24;

  transition: transform 0.2s ease-out;

}

span#pleasant > span:nth-child(-2n+8),
span#pleasant > span:nth-child(2n+9) {
  background-color: #235123;
  outline: 1px solid #235123;
}

span#pleasant > span:after,
span#pleasant > span:before {
  position: absolute;
  content: attr(name);
  line-height: inherit;
  top: 0; left: 0; bottom: 0; right: 0;

  transform-style: preserve-3d;
  z-index: 2;
  transition: all 0.3s;
  transform-origin: 0 50%;
}

span#pleasant > span:before {
  color: rgba(0,0,0,0.15);
  transform: scale(1.2, 1), skew(0deg, 5deg);
}
span#pleasant:hover > span:before {
  color: rgba(0,0,0,0.15);
  transform: scale(0.86, 1) skew(0deg, 20deg);
}

span#pleasant > span:after {
  color: #246E24;
  transform: rotateY(-20deg);
  text-shadow: -1px -1px 2px rgba(0,0,0,0.2);
}
span#pleasant:hover > span:after {
  color: #1C541C;
  transform: rotateY(-60deg);
}

span#pleasant > span:nth-child(-2n+8):after,
span#pleasant > span:nth-child(2n+9):after {
  color: #235123;
}
span#pleasant:hover > span:nth-child(-2n+8):after,
span#pleasant:hover > span:nth-child(2n+9):after {
  color: #1A461A;;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/* Remote Container Design */

div#remote_outermost {
  position: fixed;
  height: 500px;
  width: 270px;

  top: 10px;
  right: -70px;
}

div#remote_outermost.border_menu {
  position: absolute;
}

div#remote_container {
  width: 120px;
  height: 320px; /* twice as long as width */
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 15px;

  background: rgb(16,16,16); /* Old browsers */
  background: -moz-linear-gradient(70deg, rgba(16,16,16,1) 0%, rgba(90,90,90,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(70deg, rgba(16,16,16,1) 0%,rgba(90,90,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(70deg, rgba(16,16,16,1) 0%,rgba(90,90,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: inset 0px 0px 1px 5px rgba(0,0,0,0.1),
              inset 0px 0px 2px 8px rgba(0,0,0,0.1),
              inset 0px 0px 3px 11px rgba(0,0,0,0.1),
              inset 0px 0px 0px 15px rgba(0,0,0,0.1);

  position: absolute;
  top: 40px;
  left: 140px;

  transition: left 0.7s cubic-bezier(.23,.85,.11,.8);
  transition-delay: 0.4s;
}

div#remote_container.hovered {
  left: 60px;
  transition-delay: 0s;
}

div#remote_container span#name {
  background-color: transparent;
  color: rgba(0,0,0,0.6);
  font-family: "Exo";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* remote tooltip design */
div#tooltip {
  position: absolute;
  bottom: 70px;
  left: 30%;
  display: inline-block;
  padding: 5px;
  color: #fff;

  font-family: "Exo";
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  border-radius: 15px;
  border: 4px solid rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);

  min-width: 100px;
  min-height: 25px;

  transition: all 0.15s linear;
}

div#tooltip > span#remove {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 4px solid rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  position: absolute;
  right: -10px;
  top: -15px;

  cursor: pointer;
}

div#tooltip.remove {
  transform: scale(0,0);
  opacity: 0;
}
/* Remote Controller Design */

div#remote {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 20px;
  right: 15px;

  width: 50px;
  height: 200px;

  border-radius: 3px;

  background-color: transparent;
  font-family: "Russo One", fantasy, georgia;
}

div#remote > span {
  display: inline-block;
  width: 36px;
  margin-left: 7px;
  margin-top: 5px;

  background-color: rgba(50,50,50,0.8);

  border-left: 4px solid rgba(0,0,0,0.8);
  border-bottom: 4px solid rgba(0,0,0,0.8);
  border-top: 4px solid rgba(0,0,0,0.3);
  border-right: 4px solid rgba(0,0,0,0.3);

  font-family: fantasy, georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  text-align: center;
  color: #fff;

  transition: all 0.2s ease-out;
  transition: transform 0s 0s;
  cursor: pointer;

  position: absolute;
}

div#remote > span#previous{
  top: 0;
}
div#remote > span#next{
  bottom: 0;
}

span#previous:hover, span#next:hover {
  background-color: rgba(30,30,30,1);
}

span#previous:active, span#next:active {
  transform: scale(0.95, 0.95);
}

div#remote div.smallcube {
  display: inline-block;

  margin-left: 2px;
  margin-top: 5px;

  width: 44px;
  height: 44px;

  perspective: 300px;
  position: absolute;

  overflow: hidden;
}

div#remote div.smallcube.odd {
  top: 50px;
}
div#remote div.smallcube.even {
  top: 100px;
}

div#remote div.smallcube > div.wrapper {
  display: block;
  height: 98%;
  width: 98%;
  position: absolute;
  top: 1%;
  left: 1%;

  transform-style: preserve-3d;
  transform: translateZ(-22px);
  transition: all 0.3s ease-out;
}

div#remote div.smallcube > div.wrapper > span {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;

  color: #fff;

  font-weight: 400;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  color: #fff;

  backface-visibility: visible;

  background-color: rgba(40,40,40,1);
  box-shadow: inset 0 0 10px 5px rgba(20,20,20,0.6),
              inset 0 0 5px 2px rgba(20,20,20,0.4);
}

div.smallcube > .wrapper > span:nth-child(1) {
  transform: rotateY(0deg) translateZ(22px);
}
div.smallcube > .wrapper > span:nth-child(2) {
  transform: rotateY(90deg) translateZ(22px);
}
div.smallcube > .wrapper > span:nth-child(3) {
  transform: rotateY(180deg) translateZ(22px);
}
div.smallcube > .wrapper > span:nth-child(4) {
  transform: rotateY(-90deg) translateZ(22px);
}
div.smallcube > .wrapper > span:nth-child(5) {
  transform: rotateX(90deg) translateZ(22px);
}
div.smallcube > .wrapper > span:nth-child(6) {
  transform: rotateX(-90deg) translateZ(22px);
}

div#img_container {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(230,230,0,0.5);
  border: none;

  margin: 0;
  padding: 0;

  top: 20px;
  left: 20px;
}

div#img_container img {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

/*-------------------------------------------------------*/
/* custom scrollbar design */

section#sb_container, section#sb_container * {
  margin: 0;
  padding: 0;
}

section#sb_container {

  position: absolute;
  left: 20px;
  bottom: 20px;

  width: 20px;
  height: 250px;

  background-color: transparent;

  /*border: 1px solid #ffff00;*/
  border-radius: 10px;
}

section#sb_container.deactivated {
  filter: blur(1px);
}

section#sb_container > div#deactivator {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  background-color: transparent;
  cursor: not-allowed;

  width: 120%;
  height: 105%;

}

section#sb_container > button.btn {
  outline: none;
  border:none;
  border-radius: 10px;

  width: 20px;
  height: 20px;

  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000;

  background-image: url("../asset/arrow.png");
  background-color: #ffffff;
  background-size: 100% 100%;
  filter: brightness(70%);

  position: absolute;
  transform-origin: 50% 50%;
  /*border: 1px solid rgba(230, 230, 0, 1);*/

  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.9);
  z-index: 10;
  transition: all 0.2s;
}


section#sb_container button.up {
  top: 0px;
  left: 0px;
}

section#sb_container button.down {
  bottom: 0px;
  left: 0px;
  transform: rotate(180deg);
}

section#sb_container button.up:hover {
  transform: scale(1.15, 1.1) rotate(360deg);
}
section#sb_container button.down:hover {
 transform: scale(1.15, 1.1) rotate(539deg);
}

section#sb_container button.up:active {
  transform: scale(0.85, 0.85) rotate(360deg);
}

section#sb_container button.down:active {
  transform: scale(0.85, 0.85) rotate(539deg);
}

section#sb_container div.track {
  position: absolute;
  left: 3px;
  top: 0;

  width: 14px;
  height: 100%;
  background-color: rgba(30,30,30,1);
  background-image:
  repeating-linear-gradient(45deg, transparent, transparent 5px,
    rgba(10,10,10,1) 5px, rgba(10,10,10,1) 10px);

  border-radius: 10px;
  z-index: 1;
}

section#sb_container div.thumb {
  position: absolute;
  width: 100%;
  height: 60px;

  top: 19px; /* start point: top-18px, end point: top-169px*/
  left: 0px;


  z-index: 2;
}


div.thumb > span.smile {
  display: block;
  width: 100%;
  height: 20px;

  background-image: url("../asset/smile2.png");
  background-size: 100% 100%;
  background-color: #fff;
  filter: brightness(50%);

  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.9);
  /*border: 1px solid rgba(70,10,10,1);*/
}

div.thumb:hover > span.smile {
  background-image: url("../asset/smiley.png");
  background-size: 135% 135%;
  background-position: 50% 50%;

  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button.hidden_btn {

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

div.thumb button.hidden_btn {
    cursor: -webkit-grab;
}

div.thumb button.hidden_btn:active {
  cursor: -webkit-grabbing;
}

p#txtbox {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 30px;

  padding: 15px;
  min-width: 100px;
  min-height: 50px;

  background-color: rgba(0,0,0,0.85);
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  font-family: "Exo", "Russo One", fantasy, georgia;

  outline: 2px solid #fff;
  outline-offset: -4px;
}
/*-------------------------------------------------------*/
/* Front Cover Design */
div.cover_content {
  position: absolute;
  width: 100%;
  height: 100%;

  outline: 3px solid #fff;
  outline-offset: -10px;

  overflow: hidden;
}

div.cover_content div.frame {
  position: absolute;
  width: 70%;
  height: 40%;

  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  background-color: transparent;
  color: #fff;

  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

div.frame > span {
  position: absolute;
  width: 15px;
  height: 7px;
  background-color: #fff;

}

div.frame > span.tl {
  top: 0;
  left: 0;
}
div.frame > span.tr {
  top: 0;
  right: 0;
}
div.frame > span.bl {
  bottom: 0;
  left: 0;
}
div.frame > span.br {
  bottom: 0;
  right: 0;
}

div.frame > p {
  margin: 0;
  padding: 0;
  position: absolute;
}

div.frame > p.title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: inherit;
  font-size: 40%;
  font-weight: 900;
  font-family: "Lobster", "Bungee", fantasy, Georgia;
  letter-spacing: 2px;
  line-height: 1;
}

div.frame > p.name {
  top: 0;
  left: 7%;

  color: inherit;
  font-size: 20%;
  line-height: 1;
  font-weight: 900;
  font-family: "Lobster", "Bungee", fantasy, Georgia;

  transform: rotate(-40deg);

  animation: jumping 3s linear 0s infinite normal;
}

@keyframes jumping {
  0% {top: 0; transform: rotate(-40deg);}
  6.25% {top: -2.5%; transform: rotate(-50deg);}
  12.5% {top: -5%;transform: rotate(-40deg);}
  18.75% {top: -2.5%;transform: rotate(-30deg);}
  25% {top: 0;transform: rotate(-40deg);}
  100%{top: 0;transform: rotate(-40deg);}
}

div.globe_container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  top: 50%; left: 0;
}

div.globe_container > div {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0; left: 0;
}

div.globe_container > div.globe > i {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0; padding: 0;

  font-size: 180%;
  line-height: 1;
  transform: translate(-50%, -50%);

  animation: rotate_globe 15s linear 0s infinite normal;
}

@keyframes rotate_globe {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

div.globe_container > div.plane > i {
  position: absolute;
  top: 3%;
  left: 50%;

  margin: 0; padding: 0;

  font-size: 30%;
  line-height: 1;
  transform: translate(-50%);
}

div.globe_container > div.plane {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  animation: rotate_plane 9s linear 0s infinite normal;
}

@keyframes rotate_plane {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Cover Design End */
/*-------------------------------------------------------*/
/* Border Menu Design */

nav.border-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;

  border-style: solid; border-width: 0; border-color: #E93333;
  background-color: transparent;
  box-shadow: inset 0 0 20px 12px rgba(0,0,0,0.25);
  overflow: hidden;

  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

nav.border-menu.menu-open {
  height: 100%;
  border-width: 30px 30px 30px 100px;
  background-color: rgba(0,0,0,0.3);

  transition: border-width 0.3s, background-color 0.3s, height 0s;
  z-index: 30;
}

.border-menu .trigger {
  position: fixed;
  left: 30px; bottom: 50px;

  height: 4px; width: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);

  transition: transform 0.3s linear 0.1s;
  cursor: pointer;
}

.border-menu .trigger:after {
  content: "";
  position: absolute;
  top: 0; left: 0;

  width: 100%; height: 100%;
  background-color: #ffffff;
  transform: rotate(90deg);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}

.border-menu .trigger:before {
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  border: 3px solid #fff;
  border-radius: 25px;
  top: -23px; left: -10px;
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}

.border-menu.menu-open .trigger {
  transform: rotate(45deg);
}

.border-menu ul.list {
  list-style: none;
  padding: 0;
  display: inline-block;

  position: fixed;
  bottom: 95px;
  left: 22.5px;
}

.border-menu ul.list li, .border-menu ul.list li a {
  display: block;
}

.border-menu ul.list li{
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-out;
}

.border-menu ul.list li:first-child {
  transform: translate(-100%, 100%);
}
.border-menu ul.list li:last-child {
  transform: translate(-100%, -100%);
}
.border-menu ul.list li:nth-child(2) {
  transform: translate(-100%, 0%);
}

.border-menu.menu-open ul.list li{
  transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;

  transition: all 0.3s ease-out 0.2s;
}

.border-menu ul.list li a {
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  transition: all 0.15s ease-out;
}

.border-menu.menu-open ul.list li:hover > a {
  transform: translate(0%, 0%) scale(1.1, 1.1);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.border-menu canvas {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0.3s;
}

.border-menu.menu-open canvas {
  opacity: 0.9;
  box-shadow:
    inset 0 0 25px 20px rgba(0,0,0,1),
    inset 0 0 10px 10px rgba(0,0,0,1);
}

.border-menu p#info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgba(255,255,255,0.6);
  font-size: 4vh;
  line-height: 6vh;
  font-family: "Neuton";
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  text-align: right;

  max-width: 60vw;
  min-height: 30vh;

  transition: all 0.4s ease-out 0.3s;
}

.border-menu p#info > span {
  display: block;
  font-size: 2vh;
  line-height: 4vh;
  text-align: right;
}
.border-menu p#info > span > a {
  display: block;
  font-size: 3vh;
  color: rgba(255, 255, 70, 0.6);
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.border-menu p#info > span > a:hover {
  transform: scale(1.1, 1.1) translateX(-3%);
}
.border-menu p#info span#last {
  letter-spacing: 1px;
}

.border-menu.menu-open p#info {
  display: block;
}
